<section class="first-section">
    <div class="container">
        <div class="title-div">
            <h3 class="title">Payment Page</h3>
        </div>
    </div>
</section>

<section class="payment-section">
    <div class="container">
        <form class="form" [formGroup]="directionObj" (ngSubmit)="onSubmit()">
            <div class="form-first-div">
                <div class="inside-first-div">
                    <div style="margin-top: 0px;">
                        <div class="inside-list-div">

                            <div class="first-list-div">
                                <span class="span">Total Payable:{{price}}$</span>
                            </div>

                            <div class="seconde-list-div">
                                <div class="seconde-list-first-box">
                                    <div class="col-lg-12">
                                        <div> 
                                            <label for="">Card Number*  <span class="red-span-must">this input must consist of sixteen numbers</span> </label> 
                                            <input type="text" class="cardHolder" formControlName="cardNumber"  placeholder="2371 5265 6543 6510">

                                        </div>
                                    </div>
                                    <div class="col-lg-6 valp-marg">
                                        <div>
                                            <label for="">Validity Period*</label>
                                            <input type="text" placeholder="DD/MM/YY" formControlName="validityPeriod">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div>
                                            <label for="">CVC / CVV</label>
                                            <input type="number" formControlName="cvc">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div>
                                            <label for="">Cardholder</label>
                                            <input type="text" placeholder="Firminho" formControlName="cardHolder">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="therd-list-div">
                                <button type="submit" [disabled]="directionObj.invalid">Payment</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>